* {
	text-decoration: none;
}

body {
	background-image: url("img/website/green.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

header,
h2 {
	border-radius: 30px;
	padding: 1px;
}

header {
	background-color: white;
	text-align: center;
	font-size: 2vh;
	height: 140px;;
	border: 8px solid #d6d6d6;
}

* {
	padding: 0;
}

h1 {
	font-size: 4vh;
	color: black;
	margin: 19px;
}

.c {
	color: gray;
}

.b {
	color: gray;
	font-size: 1.4vh;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-items: center;
	flex-direction: column;
}

h2 {
	text-align: center;
	font-size: 3.5vh;
}

ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 3px;
	margin: 10px;
}

nav > ul > li {
	background-color: white;
	text-align: center;
	width: 33.3333333vw;
	height: 45px;
	border: 2px solid #d6d6d6;
	text-align: center;
}

nav > ul {
	flex-direction: column;
}

p {
	line-height: 1.6;
	word-break: keep-all;
	margin: 2px;
}

li {
	list-style: none;
	align-items: center;
	margin: 20px;
	color: black;
}

div {
	text-align: center;
}

img {
	border-radius: 30px;
	border: 1.9px solid black;
}

header > p {
	font-size: 1.9vh;
}

section > ul > li{
	align-items: center;
	border: 1.9px solid black;
	background-color: white;
	width: 480px;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 3px;
	text-align: center;
	border-radius: none;

}

.first {
	top: 90px;
	background-color: white;
	width: 260px;
	height: 260px;
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 3.5vh;
	box-shadow: 1px 10px 20px 3px gray;
}

.second {
	top: 90px;
	background-color: white;
	width: 260px;
	height: 260px;
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 3.5vh;
	box-shadow: 1px 10px 20px 3px gray;
}

.third {
	top: 90px;
	background-color: white;
	width: 260px;
	height: 260px;
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 3.5vh;
	box-shadow: 1px 10px 20px 3px gray;
}

.hm {
	width: 50px;
	height: 30px;
	background-color: white;
	text-align: center;
	position: fixed;
	top: 840px;
	left: 4px;
	color: black;
	border-radius: 30px;
	margin: 20px;
}

.hm:hover {
	background-color: #e5e5e5;
	filter: blur(0.6px);
}

.button:hover {
	color: #e5e5e5;
}

@media screen and (max-width: 900px) {

	ul {
		display: flex;
		flex-wrap: wrap;
    }

    img {
    	width: 270px;
    	height: 140px;
    }

    p {
		font-size: 18x;
	}

	header {
		text-align: center;
	}

	.bg {
		background-attachment: fixed;
		background-size: cover;
	}

	section > ul > li {
	align-items: center;
	border: 1.9px solid black;
	background-color: white;
	width: 360px;
	height: 900px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	padding: 3px;
	text-align: center;
	}

	.first {
	top: 90px;
	background-color: white;
	width: 180px;
	height: 180px;
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 2.8vh;
	box-shadow: 1px 10px 20px 3px gray;
	}

.second {
	top: 90px;
	background-color: white;
	width: 180px;
	height: 180px;
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 2.8vh;
	box-shadow: 1px 10px 20px 3px gray;
	}

.third {
	top: 90px;
	background-color: white;
	width: 180px;
	height: 180px; 
	font-size: 40px;
	text-align: center;
	line-height: 7.3;
	border-radius: 150px;
	border: 1.4px solid black;
	font-size: 2.8vh;
	box-shadow: 1px 10px 20px 3px gray;
	}

	.hm {
	width: 25px;
	height: 45px;
	background-color: white;
	text-align: center;
	position: fixed;
	top:170px;
	padding: 0px;
	font-size: 1.6vh;
	left: 4px;
	color: black;
	border-radius: 30px;
	writing-mode: vertical-rl;
	margin: 1px;
	}

	.hm:hover {
	background-color: #e5e5e5;
	filter: blur(0.6px);
	}

}


@media screen and (max-aspect-ratio: 2/1) {
	.s {
	background-image: url("img/silver.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw auto;
	}
}